  <div class="press-release uk-container " style=" padding:10px;">

            <div style="  display: flex;justify-content: space-between;  padding-top: 60px;">
                <div>
                    <h3  class="press-real" style=" font-size:43px;">Press releases</h3>
                </div>
                <div class="press-real"><img src="{{ 'why-us-news.png' | asset_url }}" alt="" width="70px" /></div>
            </div>


            <div class="uk-grid-small uk-child-width-1-3@m uk-visible@s" uk-grid style="padding:10px">
                <div>
                    <a class="uk-link-reset" href="#">
                        <div>
                            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
                                <div class="uk-cover-container" style="height: 268px">
                                    <img src="{{ 'blogImg.png' | asset_url }}" uk-cover />
                                </div>
                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="padding:10px" class="uk-text-bolder uk-margin-small-top">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy...</p>

                                <div style="margin-top: 28px !important">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div style="">
                    <a class="uk-link-reset" href="#">
                        <div>
                            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
                                <div class="uk-cover-container" style="height: 268px">
                                    <img src="{{ 'blogImg.png' | asset_url }}" uk-cover />
                                </div>
                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 class="uk-text-bolder uk-margin-small-top" style="padding:10px" ;>Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy...</p>

                                <div style="margin-top: 28px !important">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div>
                    <a class="uk-link-reset" href="#">
                        <div>
                            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
                                <div class="uk-cover-container" style="height: 268px">
                                    <img src="{{ 'blogImg.png' | asset_url }}" uk-cover />
                                </div>
                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="padding:10px" class="uk-text-bolder uk-margin-small-top">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style="padding:10px"
                                    class="uk-margin-remove-top uk-margin-small-bottom uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy...</p>

                                <div style="margin-top: 28px !important">

                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        </div>


<!--       press release for mobile -->
        <div class="uk-hidden@s uk-padding-small" >
       <div class="uk-slider-container-offset" uk-slider>

    <div class="uk-position-relative uk-visible-toggle uk-dark" tabindex="-1">

        <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
            <li style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
                <div class="uk-card uk-card-default" >
                    <div class="uk-card-media-top">
                        <img  src="{{ 'blogImg.png' | asset_url }}"  width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p style=""
                                    class="uk-margin-remove uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="color:black;" class="uk-text-bolder uk-margin-remove uk-padding-small uk-padding-remove-left">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style=""
                                    class="uk-margin-remove-top uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy To reduce
                                   {{ "Ground control to Major Tom." | truncate: 20 }}</p>
                    </div>
                </div>
            </li>
           <li style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
               <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img  src="{{ 'blogImg.png' | asset_url }}"  width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p style=""
                                    class="uk-margin-remove uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="color:black;" class="uk-text-bolder uk-margin-remove uk-padding-small uk-padding-remove-left">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style=""
                                    class="uk-margin-remove-top uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy To reduce
                                   {{ "Ground control to Major Tom." | truncate: 20 }}</p>
                    </div>
                </div>
            </li>
         <li style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
               <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img  src="{{ 'blogImg.png' | asset_url }}"  width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p style=""
                                    class="uk-margin-remove uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="color:black;" class="uk-text-bolder uk-margin-remove uk-padding-small uk-padding-remove-left">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style=""
                                    class="uk-margin-remove-top uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy To reduce
                                   {{ "Ground control to Major Tom." | truncate: 20 }}</p>
                    </div>
                </div>
            </li>
           <li style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
               <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img  src="{{ 'blogImg.png' | asset_url }}"  width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p style=""
                                    class="uk-margin-remove uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="color:black;" class="uk-text-bolder uk-margin-remove uk-padding-small uk-padding-remove-left">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style=""
                                    class="uk-margin-remove-top uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy To reduce
                                   {{ "Ground control to Major Tom." | truncate: 20 }}</p>
                    </div>
                </div>
            </li>
           <li style="box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;">
              <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img  src="{{ 'blogImg.png' | asset_url }}"  width="1800" height="1200" alt="">
                    </div>
                    <div class="uk-card-body">
                        <p style=""
                                    class="uk-margin-remove uk-flex uk-flex-middle">
                                    12/02/2023</p>
                                <h3 style="color:black;" class="uk-text-bolder uk-margin-remove uk-padding-small uk-padding-remove-left">Sustainable
                                    Strategies for a Greener Future</h3>


                                <p style=""
                                    class="uk-margin-remove-top uk-flex uk-flex-middle">To reduce
                                    this impact, there are several strategies that can be implemented. These include
                                    using renewable energy To reduce
                                   {{ "Ground control to Major Tom." | truncate: 20 }}</p>
                    </div>
                </div>
            </li>
        </ul>

        <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
        <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

    </div>

    <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>

</div>
      </div>
<!--    endd   press release for mobile -->
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}