<section class="headerMargin uk-section-default uk-section faq uk-background-cover">
  <div class="uk-container">
    
    <div class="most-askd">
  
      <h2 class="most-askd-head uk-text-center uk-text-medium" style="" >Most Asked</h2>


<!--       mostaskd -->


        <div class="uk-text-center  uk-child-width-1-4@m uk-child-width-1-2  uk-padding-small   " uk-grid>
      <div >
        <div class="faq-hov ">
         
            <a href="#section01" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
        <img class=""  src="{{ 'order.svg' | asset_url }}" alt=""  width="80" />
         
          <p class="uk-margin-remove uk-text-bold">Order</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov ">
            <a href="#section02" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'return.svg' | asset_url }}" alt="" width="60" /> 
        
          <p class="uk-margin-remove uk-text-bold">Return </p>
            </a>
        </div>
      </div>
       <div>
        <div class="faq-hov ">
            <a href="#section03" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'shipping.svg' | asset_url }}" alt="" width="80" />

          <p class="uk-margin-remove uk-text-bold">Shipping</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov ">
            <a href="#section04" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'payment.svg' | asset_url }}" alt="" width="40" />
       
          <p class="uk-margin-remove uk-text-bold">Payment</p>
            </a>
        </div>
      </div>
<!--       <div>
        <div class="faq-hov ">
            <a href="#section05" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'membership.svg' | asset_url }}" alt="" width="50" /> 
     
          <p class="uk-margin-remove uk-text-bold">Membership</p>
            </a>
        </div>
      </div> -->
     
     
    </div>

<!--       mostaskedend -->
      


     <div class="you-might-wana-read uk-margin-large-top "  style="">

         <h2 class="uk-text-center " style="" >You Might Wanna Read</h2>

<!-- ymwr -->
        <div id="section01" class="uk-margin-large"></div>
   <div class="uk-text-center  uk-child-width-1-4@m uk-child-width-1-2 uk-padding-small" uk-grid>
        <div>
        <div class="faq-hov">
         
            <a href="#section06" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
           <img src="{{ 'sustainability.png' | asset_url }}" alt="" width="60" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Sustainability</p>
            </a>
        </div>
      </div>

      <div>
        <div class="faq-hov">
             <a href="#section09" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
        <img src="{{ 'sizing.png' | asset_url }}" alt="" width="80" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Sizing </p>
            </a>
        </div>
      </div>
     
      <div>
        <div class="faq-hov">
            <a href="#section08" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
       <img src="{{ 'product-care.svg' | asset_url }}" alt=""  width="70" /><p class="uk-text-center uk-text-bold uk-margin-remove ">Product Care</p>
            </a>
        </div>
      </div>
       <div>
       
        <div class="faq-hov">
            <a href="#section07" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'get-in-touch.png' | asset_url }}" alt="" width="80" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Get in touch</p>
            </a>
        </div>
      </div>
     
      
     
    </div>
<!--        end -->

       

   
        
        

      </div>

  

  <div  class="order-main" >

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'order.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Orders</h1></div>  
</div>

    <div class=" uk-container order-content">

      <div style="padding-top:10px">
        <p class="faq-que">{{ section.settings['ques1'] }}</p>
        <P class="faq-ans" style="color:#777777;">{{ section.settings['ans1'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques2'] }}</p>
        <P class="faq-ans" style="color:#777777"> {{ section.settings['ans2'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques3'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans3'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques4'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans4'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques5'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans5'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques6'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans6'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques7'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans7'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques8'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans8'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques9'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans9'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p  class="faq-que">{{ section.settings['ques10'] }}</p>
        <div class="" id="section02" class="returns-main"></div>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans10'] }}</P>
      </div>

      
    </div>

</div>




 

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'return.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Returns</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques11'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans11'] }}</P>
      
      </div>
      <div style="padding-top:20px">
        <div>
        <p class="faq-que">{{ section.settings['ques12'] }}</p>
    
          
              <P   class="faq-ans" style="color:#777777">{{ section.settings['ans12'] }}</P>
<!--       <div id="section03" class="shipping-main"> </div> -->
        </div>
     

      
    </div>

</div>








 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'shipping.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Shipping</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques13'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans13'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques14'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans14'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques15'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans15'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques16'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans16'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques17'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans17'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques18'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans18'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques19'] }}</p>
       <div id="section04" class="payment-main">
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans19'] }}</P>
      </div>

      
    </div>

</div>





 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'payment.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Payments</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques20'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans20'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques21'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans21'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques22'] }}</p>
              <div id="section06" class="productcare-main">
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans22'] }}</P>
      </div>
     

      
    </div>

</div>




<!--  <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'membership.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Membership</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques23'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans23'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques24'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans24'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques25'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans25'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques26'] }}</p>

        <P class="faq-ans" style="color:#777777">{{ section.settings['ans26'] }}</P>
      </div>

      
    </div>

</div> -->










 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'sustainability.png' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Sustainability</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques31'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans31'] }}</P>
      
       
      
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques32'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans32'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques33'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans33'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques34'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans34'] }}</P><br>   
      </div>

       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques35'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans35'] }}</P>
      </div>



       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques36'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans36'] }}</P>
      </div>
        

      
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques37'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans37'] }}</P>
      </div>
        

      
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques38'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans38'] }}</P>
      </div>
        

      
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques39'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans39'] }}</P>
      </div>
        

      
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques40'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans40'] }}</P>
      </div>
        

      
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques41'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans41'] }}</P>
      </div>
        

      
       <div id="section09" class="getintouch-main">      </div>
       <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques42'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans42'] }}</P>

        

      
    </div>

</div>













 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'sizing.png' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Sizing</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques45'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans45'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques46'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans46'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques47'] }}</p>
       <div id="section08" class="sizing-main">
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans47'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques48'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans48'] }}</P>
      </div>
    

      
    </div>

</div>
       <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'product-care.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Product Care</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques27'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans27'] }}</P>
     
       
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques28'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans28'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques29'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans29'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques30'] }} </p>
       <div id="section07" class="sustainability-main">
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans30'] }}</P>
      </div>

      
    </div>

</div>

       <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'get-in-touch.png' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Get in touch</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <p class="faq-que">{{ section.settings['ques43'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans43'] }}</P>
      </div>
      <div style="padding-top:20px">
        <p class="faq-que">{{ section.settings['ques44'] }}</p>
        <P class="faq-ans" style="color:#777777">{{ section.settings['ans44'] }}</P>
      </div>
      

      
    </div>

</div>



      <div class="you-still-have-que uk-flex  uk-flex-center" style="margin-top:80px; display: flex;  flex-direction: column; justify-content: center;align-items: center; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-playfair-display);">
         <p class="" style="font-size:16px;font-weight:bolder;">Still have questions?</p>


        <div  style="color: #777777; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-montserrat);">
            <div>
        

        <p  class="uk-text-center">E-mail us: <br><a style="color:rgb(119, 119, 119);text-transform:none;" href="mailto:{{ section.settings['email'] }}">{{ section.settings['email'] }}</a></p>
        </div>

        <div>
          <p class="uk-text-center"  >Contact us <br> {{ section.settings['contact'] }}</p>
        </div>
           
        </div>
      
         
          
        </div>
      </div>


  
  
    
  

  </div>
    
</section>
{% schema %}
  {
    "name": "Faq",
    "settings": [
//order
      {
        "type":"text",
        "id":"ques1",
        "label":"Question 1"
      },
      {
        "type":"text",
        "id":"ans1",
        "label":"Answer 1"
      },
      {
        "type":"text",
        "id":"ques2",
        "label":"Question 2"
      },
      {
        "type":"text",
        "id":"ans2",
        "label":"Answer 2"
      },
      {
        "type":"text",
        "id":"ques3",
        "label":"Question 3"
      },
      {
        "type":"text",
        "id":"ans3",
        "label":"Answer 3"
      },
      {
        "type":"text",
        "id":"ques4",
        "label":"Question 4"
      },
      {
        "type":"text",
        "id":"ans4",
        "label":"Answer 4"
      },
      {
        "type":"text",
        "id":"ques5",
        "label":"Question 5"
      },
      {
        "type":"text",
        "id":"ans5",
        "label":"Answer 5"
      },
      {
        "type":"text",
        "id":"ques6",
        "label":"Question 6"
      },
      {
        "type":"text",
        "id":"ans6",
        "label":"Answer 6"
      },
      {
        "type":"text",
        "id":"ques7",
        "label":"Question 7"
      },
      {
        "type":"text",
        "id":"ans7",
        "label":"Answer 7"
      },
      {
        "type":"text",
        "id":"ques8",
        "label":"Question 8"
      },
      {
        "type":"text",
        "id":"ans8",
        "label":"Answer 8"
      },
      {
        "type":"text",
        "id":"ques9",
        "label":"Question 9"
      },
      {
        "type":"text",
        "id":"ans9",
        "label":"Answer 9"
      },
      {
        "type":"text",
        "id":"ques10",
        "label":"Question 10"
      },
      {
        "type":"text",
        "id":"ans10",
        "label":"Answer 10"
      },
      //return
      {
        "type":"text",
        "id":"ques11",
        "label":"Question 11"
      },
      {
        "type":"text",
        "id":"ans11",
        "label":"Answer 11"
      },
      {
        "type":"text",
        "id":"ques12",
        "label":"Question 12"
      },
      {
        "type":"text",
        "id":"ans12",
        "label":"Answer 12"
      },
      //shipping
      {
        "type":"text",
        "id":"ques13",
        "label":"Question 13"
      },
      {
        "type":"text",
        "id":"ans13",
        "label":"Answer 13"
      },
      {
        "type":"text",
        "id":"ques14",
        "label":"Question 14"
      },
      {
        "type":"text",
        "id":"ans14",
        "label":"Answer 14"
      },
      {
        "type":"text",
        "id":"ques15",
        "label":"Question 15"
      },
      {
        "type":"text",
        "id":"ans15",
        "label":"Answer 15"
      },
      {
        "type":"text",
        "id":"ques16",
        "label":"Question 16"
      },
      {
        "type":"text",
        "id":"ans16",
        "label":"Answer 16"
      },
      {
        "type":"text",
        "id":"ques17",
        "label":"Question 17"
      },
      {
        "type":"text",
        "id":"ans17",
        "label":"Answer 17"
      },
      {
        "type":"text",
        "id":"ques18",
        "label":"Question 18"
      },
      {
        "type":"text",
        "id":"ans18",
        "label":"Answer 18"
      },
      {
        "type":"text",
        "id":"ques19",
        "label":"Question 19"
      },
      {
        "type":"text",
        "id":"ans19",
        "label":"Answer 19"
      },
      //payments
      {
        "type":"text",
        "id":"ques20",
        "label":"Question 20"
      },
      {
        "type":"text",
        "id":"ans20",
        "label":"Answer 20"
      },
       {
        "type":"text",
        "id":"ques21",
        "label":"Question 21"
      },
      {
        "type":"text",
        "id":"ans21",
        "label":"Answer 21"
      },
      {
        "type":"text",
        "id":"ques22",
        "label":"Question 22"
      },
      {
        "type":"text",
        "id":"ans22",
        "label":"Answer 22"
      },
    
     //sustainable
     
      {
        "type":"text",
        "id":"ques31",
        "label":"Question 23"
      },
      {
        "type":"text",
        "id":"ans31",
        "label":"Answer 23"
      },
      {
        "type":"text",
        "id":"ques32",
        "label":"Question 24"
      },
      {
        "type":"text",
        "id":"ans32",
        "label":"Answer 24"
      },
      {
        "type":"text",
        "id":"ques33",
        "label":"Question 25"
      },
      {
        "type":"text",
        "id":"ans33",
        "label":"Answer 25"
      },
      {
        "type":"text",
        "id":"ques34",
        "label":"Question 26"
      },
      {
        "type":"text",
        "id":"ans34",
        "label":"Answer 26"
      },
      {
        "type":"text",
        "id":"ques35",
        "label":"Question 27"
      },
      {
        "type":"text",
        "id":"ans35",
        "label":"Answer 27"
      },
      {
        "type":"text",
        "id":"ques36",
        "label":"Question 28"
      },
      {
        "type":"text",
        "id":"ans36",
        "label":"Answer 28"
      },
      {
        "type":"text",
        "id":"ques37",
        "label":"Question 29"
      },
      {
        "type":"text",
        "id":"ans37",
        "label":"Answer 29"
      },
      {
        "type":"text",
        "id":"ques38",
        "label":"Question 30"
      },
      {
        "type":"text",
        "id":"ans38",
        "label":"Answer 30"
      },
      {
        "type":"text",
        "id":"ques39",
        "label":"Question 31"
      },
      {
        "type":"text",
        "id":"ans39",
        "label":"Answer 31"
      },
      {
        "type":"text",
        "id":"ques40",
        "label":"Question 32"
      },
      {
        "type":"text",
        "id":"ans40",
        "label":"Answer 32"
      },
      {
        "type":"text",
        "id":"ques41",
        "label":"Question 33"
      },
      {
        "type":"text",
        "id":"ans41",
        "label":"Answer 33"
      },
     

      //size
      
      {
        "type":"text",
        "id":"ques45",
        "label":"Question 34"
      },
      {
        "type":"text",
        "id":"ans45",
        "label":"Answer 34"
      },
      {
        "type":"text",
        "id":"ques46",
        "label":"Question 35"
      },
      {
        "type":"text",
        "id":"ans46",
        "label":"Answer 35"
      },
      {
        "type":"text",
        "id":"ques47",
        "label":"Question36"
      },
      {
        "type":"text",
        "id":"ans47",
        "label":"Answer 36"
      },
     
       //product care
      {
        "type":"text",
        "id":"ques27",
        "label":"Question 37"
      },
     
      {
        "type":"text",
        "id":"ans27",
        "label":"Answer 37"
      },
       {
        "type":"text",
        "id":"ques28",
        "label":"Question 38"
      },
      {
        "type":"text",
        "id":"ans28",
        "label":"Answer 38"
      },
      {
        "type":"text",
        "id":"ques29",
        "label":"Question 39"
      },
      {
        "type":"text",
        "id":"ans29",
        "label":"Answer 39"
      },
      {
        "type":"text",
        "id":"ques30",
        "label":"Question 40"
      },
      {
        "type":"text",
        "id":"ans30",
        "label":"Answer 40"
      },
      
    //get in touch
     
      {
        "type":"text",
        "id":"ques43",
        "label":"Question 41"
      },
      {
        "type":"text",
        "id":"ans43",
        "label":"Answer 41"
      },
      {
        "type":"text",
        "id":"ques44",
        "label":"Question 42"
      },
      {
        "type":"text",
        "id":"ans44",
        "label":"Answer 42"
      },
      {
        "type":"text",
        "id":"email",
        "label":"email"
      },
      {
        "type":"text",
        "id":"contact",
        "label":"contact"
      }
      
      
    ]
      }
    
  
{% endschema %}

{% stylesheet %}

.faq-ans{
   text-transform: none;
}
  

.faq-que{
  font-size:16px !important;
   font-weight:bolder !important;
  margin:0 !important;
}
  h4{
    margin:0 !important;
  }
  
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}