<section class="headerMargin uk-section-default uk-section faq uk-background-cover">
  <div class="uk-container">
    
    <div class="most-askd">
  
      <h3 class="most-askd-head uk-text-center uk-text-medium" style="font-size:26px;" >Most Asked</h3>


<!--       mostaskd -->


        <div class="uk-text-center  uk-child-width-1-5@m uk-child-width-1-2  uk-padding-small   " uk-grid>
      <div >
        <div class="faq-hov ">
         
            <a href="#section01" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
        <img class=""  src="{{ 'order.svg' | asset_url }}" alt=""  width="80" />
         
          <p class="uk-margin-remove uk-text-bold">Order</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov ">
            <a href="#section02" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'return.svg' | asset_url }}" alt="" width="60" loading="lazy" /> 
        
          <p class="uk-margin-remove uk-text-bold">Return </p>
            </a>
        </div>
      </div>
       <div>
        <div class="faq-hov ">
            <a href="#section03" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'shipping.svg' | asset_url }}" alt="" width="80" loading="lazy" />

          <p class="uk-margin-remove uk-text-bold">Shipping</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov ">
            <a href="#section04" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'payment.svg' | asset_url }}" alt="" width="40" loading="lazy" />
       
          <p class="uk-margin-remove uk-text-bold">Payment</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov ">
            <a href="#section05" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'membership.svg' | asset_url }}" alt="" width="50" loading="lazy"  /> 
     
          <p class="uk-margin-remove uk-text-bold">Membership</p>
            </a>
        </div>
      </div>
     
     
    </div>


<!--       mostaskedend -->
      


     <div class="you-might-wana-read uk-margin-large-top "  style="">

         <h3 class="uk-text-center " style="font-size:26px;" >You Might Wanna Read</h3>

<!-- ymwr -->
   <div class="uk-text-center  uk-child-width-1-4@m uk-child-width-1-2 uk-padding-small" uk-grid>
      <div>
        <div class="faq-hov">
            <a href="#section06" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
       <img src="{{ 'product-care.svg' | asset_url }}" alt="" loading="lazy"   width="70"  /><p class="uk-text-center uk-text-bold uk-margin-remove ">Product Care</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov">
            <a href="#section07" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
           <img src="{{ 'sustainability.png' | asset_url }}" alt="" loading="lazy"  width="60" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Sustainability</p>
            </a>
        </div>
      </div>
       <div>
        <div class="faq-hov">
            <a href="#section08" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
         <img src="{{ 'get-in-touch.png' | asset_url }}" alt="" loading="lazy"  width="80" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Get in touch</p>
            </a>
        </div>
      </div>
      <div>
        <div class="faq-hov">
            <a href="#section09" style="text-decoration: none;  color:black "  class="uk-link" style="color: black;" >
        <img src="{{ 'sizing.png' | asset_url }}" alt="" loading="lazy"  width="80" />  <p class="uk-text-center uk-text-bold uk-margin-remove ">Sizing</div>  </p>
            </a>
        </div>
      </div>
     
     
     
    </div>
<!--        end -->

       

   
        
        
      </div>

  

  <div id="section01" class="order-main" >

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'order.svg' | asset_url }}" alt="" loading="lazy"  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Orders</h1></div>  
</div>

    <div class=" uk-container order-content">

      <div style="padding-top:10px">
        <h4 class="faq-que">Do I need to open an SoE account to place an order?</h4>
        <P class="faq-ans" style="color:#777777;">You can shop without opening an SoE account. However, having an account will make it easier for you to track your orders, enables easier checkout and keeps you informed on new launches and other offers 
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Where are the orders shipped from?</h4>
        <P class="faq-ans" style="color:#777777">All our orders are shipped from Hyderabad, India</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How do I check the status of my order?</h4>
        <P class="faq-ans" style="color:#777777">You will receive a confirmation email on your email address linked to your SoE account as soon as the order is placed. If the payment has been deducted and you have not received the order confirmation email, please check your spam and promotions folders. Alternatively, if you have an SoE account, you can login and view all your past orders. If you are still unable to view the order details, please reach out to us at hello@shadesofearth.co
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">What if I like something that is out of stock now?</h4>
        <P class="faq-ans" style="color:#777777">Restocking of products is highly dependent on customer demand and material availability. If we’ve received enough demand and the material is available to reorder, we do bring it back. Please click on the out of stock item to let us know your interest and provide your email id so we can let you know as soon as it is back 
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">The size I am looking for in a specific style is out of stock on the website. When will it be back?</h4>
        <P class="faq-ans" style="color:#777777">As most of our products are manufactured in house, it is very likely that we will be able to make your preferred size available for you. Please check with us by writing to us at hello@shadesofearth.co
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">There is an error that doesn't let me check out. What should I do?</h4>
        <P class="faq-ans" style="color:#777777">We would like to apologise for the inconvenience. This could happen due to technical reasons and we would recommend that you try again. If the issue persists, please reach out to us at hello@shadesofearth.co
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">How can I cancel or modify my order?</h4>
        <P class="faq-ans" style="color:#777777">Order once placed cannot be cancelled. However, you can email us at hello@shadesofearth.co within 12 hrs of placing the order in case of any exceptions or modifications in the order and we would be glad to help you out.</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">Can I modify the shipping address of my order after it has been placed?</h4>
        <P class="faq-ans" style="color:#777777">You can change the shipping address as long as the shipment is not dispatched. Please contact us at hello@shadesofearth.co for any such request.
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">How can I track my order?</h4>
        <P class="faq-ans" style="color:#777777">You will receive an email notification once the shipment has left our studio along with the tracking details. All orders are dispatched within 7-10 business days of receiving the order. In case of any delays, our customer service will reach out to you with an update.
</P>
      </div>
      <div style="padding-top:20px">
        <h4  class="faq-que">Can I place an international order?</h4>
        <P class="faq-ans" style="color:#777777">Yes, we ship worldwide. We do not include duties and import charges as most countries charge duties on imported items depending on the product value at the time of port entry. The import duty if applicable would be payable at the time of delivery.

</P>
      </div>

      
    </div>

</div>




   <div id="section02" class="returns-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'return.svg' | asset_url }}"loading="lazy"  alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Returns</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What is your return and exchange policy?
</h4>
        <P class="faq-ans" style="color:#777777">We are here to help and promise to make it as easy and simple for you as possible.
</P>
        <ul>
          <li>We accept returns and exchanges of unused products within 7 days of the order delivery</li>
          <li>Unfortunately, we are unable to provide refunds due to the significant amount of effort and resources invested in the design, production, and operations of each and every product. However, we issue refunds for fulfilment errors, which include incorrect shipments or missing items. If eligible, the refund will be processed through the original payment method and should be completed within one week of the request being initiated 
</li>
          <li>We offer size exchanges and store credits, which will be valid for 1 year from the date of issue  
</li>
          <li>We provide size exchanges exclusively for the same product, style, and colour that you originally purchased. If the size or colour you require is unavailable, we will issue you store credits for the amount spent.
</li>
          <li>Only one exchange will be offered for a particular order, shipping costs will have to be borne by you for any subsequent exchange requests
</li>
          <li>Items on sale/ discount will not be eligible for an exchange/return.
</li>
          <li>International shipments are not eligible for returns or exchange
</li>
        </ul>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">What is the return process?</h4>
       <ul>
         <li>To start the return process, please visit our website's returns page and provide your order number (found in the order confirmation email) and email id. You can choose to request for store credits or an exchange, depending on availability. Please refer to the exchange guidelines above
</li>
         <li>Once we receive your return or exchange request, please allow up to 3 business days for us to process it. The pick-up and return to our studio may take up to 10 additional business days.
</li>
         <li>We will process a reverse pick up and return/ exchange costs are on us for the first time    
</li>
         <li>We request you to return the unused products in their original condition i.e. unwashed, undamaged, with tags attached 
</li>
         <li>Once the product reaches our studio a quality check will be done, post which we will issue the store credit or ship the exchange order within 7 business days
</li>
         <li>To find out the status of your return or exchange request, email us at hello@shadesofearth.co  
</li>
       </ul>
      </div>
     

      
    </div>

</div>







       <div id="section03" class="shipping-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'shipping.svg' | asset_url }}" loading="lazy" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Shipping</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">Do I have to pay for shipping?
</h4>
        <P class="faq-ans" style="color:#777777">We offer free shipping pan India. The cost of international shipping is based on the weight of the shipment and the delivery pin code. During the checkout process, you can view the shipping cost in real-time before placing your order
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Do you ship to my location?
</h4>
        <P class="faq-ans" style="color:#777777">We ship worldwide. For domestic orders, we use Bluedart and DTDC. For international orders we use DHL or other carriers based on serviceability. If you are unsure about shipping service at your location, we are happy to be of service at hello@shadesofearth.co
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How do I know you’ve shipped my order?</h4>
        <P class="faq-ans" style="color:#777777">You will receive an email notification once the shipment has left our studio along with the tracking details
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How soon will you dispatch my order?</h4>
        <P class="faq-ans" style="color:#777777">We don’t carry excess inventory and make on demand. We usually dispatch orders within 5 working days but could sometimes take 7 working days from the date of receiving an order. Rest assured that we are committed to delivering your order as soon as possible. If there are any unexpected delays, our customer service team will notify you. 
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How soon will my order reach me?
</h4>
        <P class="faq-ans" style="color:#777777">If your location is serviced by a reputable courier, you can expect to receive your order within 7 business days of shipping for domestic orders. For metros in India it could take 3-5 business days. International orders typically reach within 14 days after they are shipped.  

</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How much will I pay on customs and duties on international orders?
</h4>
        <P class="faq-ans" style="color:#777777">We are unable to provide how much duties and import charges would be as most countries charge depending on the product value at the time of port entry. The import duty if applicable would be payable at the time of delivery.
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Can I ship to multiple locations at the same time?
</h4>
        <P class="faq-ans" style="color:#777777">Unfortunately, that will not be possible. We request you to place multiple orders based on the locations you went them to be delivered to  
</P>
      </div>

      
    </div>

</div>




       <div id="section04" class="payment-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'payment.svg' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Payments</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What are the modes of shopping and payment you use?
</h4>
        <P class="faq-ans" style="color:#777777">For domestic orders, we accept credit cards - Mastercard, Visa, and American Express, Net Banking - All major banks, Debit Card - All major banks, Wallet, Store Credits and COD. For international orders, we accept credit cards - Mastercard, Visa and American Express and PayPal
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Do you offer COD (Cash on Delivery)?</h4>
        <P class="faq-ans" style="color:#777777">Yes, we offer Cash On Delivery for domestic orders. COD payment can be done on orders upto INR 5000. For orders above INR 5000, only prepaid options are available. In addition, COD option is available only for standard sizes and not for custom orders
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How can I use store credits?
</h4>
        <P class="faq-ans" style="color:#777777">You can enter your store credit number in the ‘Gift card or discount code’ field on the payment page to redeem it
</P>
      </div>
     

      
    </div>

</div>



       <div id="section05" class="membership-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'membership.svg' | asset_url }}" alt="" loading="lazy"   width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Membership</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What do I do if my product is fault?</h4>
        <P class="faq-ans" style="color:#777777">Since we process our orders quickly, in most cases it’s not possible to change or update your order.Please note however that this is not always possible.</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Are Returns free ?</h4>
        <P class="faq-ans" style="color:#777777">Since we process our orders quickly, in most cases it’s not possible to change or update your order.Please note however that this is not always possible.</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">What’s your return policy?</h4>
        <P class="faq-ans" style="color:#777777">Since we process our orders quickly, in most cases it’s not possible to change or update your order.Please note however that this is not always possible.</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Can I try on my product?</h4>
        <P class="faq-ans" style="color:#777777">Since we process our orders quickly, in most cases it’s not possible to change or update your order.Please note however that this is not always possible.</P>
      </div>

      
    </div>

</div>



       <div id="section06" class="productcare-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'product-care.svg' | asset_url }}" alt="" loading="lazy"  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Product Care</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What materials do you use?</h4>
        <P class="faq-ans" style="color:#777777">Every material sourcing decision makes a difference to our Earth and its ecosystems. That’s why we are extremely careful in sourcing fabrics with minimal impact. We choose textiles that either from 
</P>
        <ul type="none">
          <li>- Farms such as organic cotton, hemp, linen, </li>
          <li>- Responsibly managed forests such as viscose or tencel </li>
          <li>- Recycled synthetic materials such as recycled polyester and other synthetics.</li>
         

        </ul>
        <p> We conduct due diligence on the fabric and its source and look for certified partners in the respective areas. Please refer to our detailed section on our materials </p>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Will the items look the same as the pictures on the website?
</h4>
        <P class="faq-ans" style="color:#777777">We put in a lot of effort to ensure that the images accurately reflect the product in real life. However, please keep in mind that the display settings of the device you are using may affect what you see. Nonetheless, we can guarantee that any differences between the imagery and the actual product are minimal.
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Will the garment shrink post wash?</h4>
        <P class="faq-ans" style="color:#777777">We test all our fabrics for shrinkage and colour bleed prior to production. Please expect minor shrinking with cotton and do follow fabric care instructions listed in Product care section 
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">How do I care for the garments I purchased? </h4>
        <P class="faq-ans" style="color:#777777">In general, we recommend either hand washing or gentle machine wash with cold water, using a mild detergent, clothesline drying in shade or tumble drying, and ironing inside out. Always remember to wash light coloured clothes separately. Please refer to the instructions on the product page for specific instructions.
</P>
      </div>

      
    </div>

</div>




       <div id="section07" class="sustainability-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'sustainability.png' | asset_url }}" alt="" loading="lazy"   width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Sustainability</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What do you mean by sustainable fashion?</h4>
        <P class="faq-ans" style="color:#777777">At SoE, sustainability is balancing People, Planet and Product. Our aim is to create fashion that is functional, fashionable, and affordable while prioritising the well-being of People and the Planet and maintaining a sustainable business model ourselves. We recognize that every decision we make involves trade-offs and there is no easy and straightforward path to sustainability. However, we practise the following within each of the pillars</P>
      
        <h4 class="faq-que "  style="font-size:18px">Planet: </h4>
         <ol type="1">
        <li>Source materials responsibly, taking into consideration factors such as supplier due diligence, certifications, and locations
</li>
        <ol type="a">
          <li>Organic cotton instead of conventional cotton</li>
          <li>GOTS/OEKO-TEX Certified facilities across the supply chain</li>
          <li>Viscose sourced from certified sustainable forests</li>
          <li>Zero fabric blends</li>
          <li>Trims & Accessories - GRS certified recycled polyester for elastics, OEKO-TEX certified corozo buttons etc. </li>
        <li>Biodegradable and reusable product packaging  </li>
        </ol>
        <li>Reduce waste in our production by </li>
        <ol type="a">
          <li>Keeping production inhouse and eliminating stock pile-up</li>
          <li>Upcycling scrap  </li>
        </ol>
        <li>Offset our remaining carbon footprint through certified carbon offsetting projects.</li>
         </ol>
 <h4 class="faq-que "  style="font-size:18px">People: </h4>
        <p>Continue to keep our production in-house or partner with a fair trade manufacturer (more importantly ones open to lower MoQs) in future. We pay fair wages (cut and sew accounts for ~25% of our product prices) that are well above industry standards</p>
<p>Invest in our local communities through our partnership with RangDe on initiatives that align with our values.</p>

 <h4 class="faq-que "  style="font-size:18px">Product: </h4>
        <ol type="1">
<li>Create fashion that is comparable in design, aesthetics, and price to fast fashion, but is also clean, ethical, and long-lasting. We make it easy for our customers to choose sustainable options without having to compromise.  #lookgoodfeelgood  </li>
        <li>Provide complete transparency and traceability on our pricing, materials, suppliers (although at times we are limited by the mutilayeredness of the garment supply chain and our partners need to maintain their trade secrets)</li>
        </ol>

      <p>Have we achieved it all? By no means! We understand that our path to become a truly sustainable brand is a continuous journey that we have just begun and we are determined to stop at nothing to get there!   </p>  
      </div>

      
      <div style="padding-top:20px">
        <h4 class="faq-que">If we want to be truly sustainable, are we not better off not buying at all?</h4>
        <P class="faq-ans" style="color:#777777">While reducing consumption is one way to reduce our environmental impact, it may not be a practical solution for everyone. Instead, we advocate for a shift towards sustainable fashion that considers the environmental and social impacts of production. This means driving away fast fashion out of fashion and opting for brands that prioritise ethical and sustainable practices. 
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">What is a carbon footprint and how do you calculate it?
</h4>
        <P class="faq-ans" style="color:#777777">We recognize that the fashion industry has a significant impact on the environment, and one way we measure this impact is through carbon footprint. This includes the carbon emissions generated across various stages of the product's lifecycle, from sourcing raw materials to manufacturing to transportation to end-of-life disposal. To calculate our carbon footprint, we use a third-party free tool that takes into account the materials we use, product weight, manufacturing locations, and transportation methods. While the tool provides a good estimate of our carbon footprint (about 70%-80% accurate), we round up to account for any gaps in the calculation. Alternatively, we could conduct a life cycle analysis for a more accurate estimate of our impact, but this would be prohibitively expensive for a young brand like ours and we are better off spending that on offsets and other impact initiatives.
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">What is carbon offsetting and how do you choose projects for offsetting?
</h4>
        <P class="faq-ans" style="color:#777777">Carbon offsetting refers to investing in environmental projects in order to balance out carbon footprint. At SoE, using Greenspark’s services, we invest in global UN certified projects such as renewable energy, energy efficiency, and reforestation to offset our carbon footprint. 
</P><br>
        <p>We choose projects that are </p>
        <ol type="1">
          <li>Verified under the UN Framework Convention on Climate Change
</li>
          <li>Designed to reduce future emissions
</li>
          <li>Located locally or in developing countries 
</li>
          <li>Designed to provide social benefits and employment opportunities for local communities attached to the initiatives, such as plastic waste collection, clean energy cooking stoves etc.     

</li>
        </ol>

        
      </div>

       <div style="padding-top:20px">
        <h4 class="faq-que">Is carbon offsetting the ultimate nirvana?</h4>
        <P class="faq-ans" style="color:#777777">Definitely not, carbon offsetting is one of the tools available to reduce carbon emissions. It should be seen as a complementary measure rather than a solution in itself. The controversy around carbon offsetting is if a business uses offsetting as a way to avoid changing their environmentally unfriendly ways i.e. polluting in one place and offsetting in another.  
Our approach to offsetting is to reduce carbon emissions as much as we can and offset the rest (after all, the less we emit, the less it will cost us to go carbon neutral) 

</P>
      </div>



       <div style="padding-top:20px">
        <h4 class="faq-que">What is Earth Positive?
</h4>
        <P class="faq-ans" style="color:#777777">While there are many definitions of what Earth Positive is, simply put it means giving back to the earth more than we take, such that there is a net positive impact on the environment. In addition to offsetting our carbon footprint, we invest in tree planting, plastic waste rescue from the oceans and also invest in local communities, making our contribution earth positive 


</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">Why do you use materials imported from other countries?
</h4>
        <P class="faq-ans" style="color:#777777">While we would love to use only locally grown materials, the reality is that different climates and growing conditions can affect the quality and availability of certain fibres, whether it is Lyocel or Viscose from responsibly managed forests in Canada or Sweden, Hemp from China or Linen from Europe. While the raw material has origins from outside India, weaving, dyeing and manufacturing still happen locally. Though we would love to limit our sourcing to only locally grown materials, we also need to meet the demands of today's consumers. Importantly, we are better off sourcing sustainable materials from outside than using materials made using fossil fuels. When it comes to sustainability, we live in a very connected world!



</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">How does your partnership with Rang De work?

</h4>
        <P class="faq-ans" style="color:#777777">We partner with RangDe by investing in sustainable livelihoods and aim to create a positive impact that lasts beyond the initial investment, ultimately contributing to a more equitable and sustainable future. For every purchase, we invest 5% in social investment and keep the investment in circulation 



</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">How do you choose what projects to fund?

</h4>
        <P class="faq-ans" style="color:#777777">We choose projects that align with our values such as organic farming, weavers and artisanal communities, rural entrepreneurship etc. 



</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">Do you earn interest from your investments on Rang De?

</h4>
        <P class="faq-ans" style="color:#777777">No, we do not earn interest from our social investments and neither do we withdraw the repayment proceeds. Nominal interest is charged to establish a sense of responsibility and accountability for those receiving the investment. The initial investments along with the interest is reinvested in other causes creating a self-sustaining cycle of impact and reaching more beneficiaries over time. 



</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">Who pays for all these investments?

</h4>
        <P class="faq-ans" style="color:#777777">There is no additional cost for the carbon offset or tree planting initiatives or social investments we undertake. It comes straight from our profits (er from our margins)!



</P>
      </div>
        

      
       <div style="padding-top:20px">
        <h4 class="faq-que">Why are your production costs so high?
</h4>
        <P class="faq-ans" style="color:#777777">In order to eliminate inventory pile-up and reduce waste, we have an inhouse production team that is paid fair wages, way higher than industry average. As a result our production costs tend to be higher 




</P>
      </div>
        

      
    </div>

</div>





       <div id="section08" class="getintouch-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'get-in-touch.png' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Get in touch</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">Do you have a store?
</h4>
        <P class="faq-ans" style="color:#777777">We sell through our website and do not have an offline presence at the moment
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Where are you located?
</h4>
        <P class="faq-ans" style="color:#777777">Our design and production studio, and warehouse is located in Hyderabad 
</P>
      </div>
      

      
    </div>

</div>





       <div id="section09" class="sizing-main">

 <div class=" uk-flex uk-flex-center uk-text-bold" style="padding-top:59px">
  <div><img src="{{ 'sizing.png' | asset_url }}" alt=""  width="70" /></div>
<div ><h1 class="faq-heads" style="margin-left:15px"> Sizing</h1></div>  
</div>

    <div class=" uk-container ">

      <div style="padding-top:30px;">
        <h4 class="faq-que">What are the sizes you generally offer?
</h4>
        <P class="faq-ans" style="color:#777777">Our mission is to mainstream sustainable fashion. To achieve this, we believe that cleaner fashion should be accessible to everyone, and therefore, inclusivity is fundamental to us. Given the higher demand in standard sizes, we keep safety stock from XS to XL generally. However, since we make on demand, we encourage you to use our custom order option under sizing to get it made just for you.  
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Do you customise clothes? If yes, is it charged extra?
</h4>
        <P class="faq-ans" style="color:#777777">We offer customization options for a perfect fit and would be delighted to tailor a product to your specific measurements. Please note that we do not provide any other non-size related alterations  
</P>
      </div>
      <div style="padding-top:20px">
        <h4 class="faq-que">Which size should I choose?
</h4>
        <P class="faq-ans" style="color:#777777">We suggest referring to our size chart to determine the appropriate size for your purchase. Alternatively, you could use our custom order feature, to get the product stitched per your measurements. If you’re unsure, we request you to write to us at hello@shadesofearth.co and we will get back to you at the earliest. 
</P>
      </div>
    

      
    </div>

</div>




      <div class="you-still-have-que uk-flex  uk-flex-center" style="margin-top:80px; display: flex;  flex-direction: column; justify-content: center;align-items: center; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-40)/var(--unnamed-line-spacing-60) var(--unnamed-font-family-playfair-display);">
         <h4 class="">You Still Have the Question</h4>


        <div  style="color: #777777; font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-32)/var(--unnamed-line-spacing-48) var(--unnamed-font-family-montserrat);">
            <div>
        

        <p  class="uk-text-center">E-mail us: <br> info@shadesofearth.in</p>
        </div>

        <div>
          <p class="uk-text-center"  >Contact us <br> +91 8734263075</p>
        </div>
           
        </div>
      
         
          
        </div>
      </div>


  
  
    
  

  </div>
    
</section>
{% schema %}
  {
    "name": "Faq",
    "settings": [
      {
        "type":"text",
        "id":"title",
        "label":"Title"
      },
      {
        "type":"image_picker",
        "id":"bg_image",
        "label":"Background image"
      },
      {
        "type":"header",
        "content":"Contact"
      },
      {
        "type":"image_picker",
        "id":"bg_image_contact",
        "label":"Contact Background image"
      },
      {
        "type":"text",
        "id":"contact_heading",
        "label":"Contact Heading"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button text"
      },
      {
        "type":"url",
        "id":"button_link",
        "label":"Button Link"
      }
    ],
    "blocks":[
      {
        "type":"faq",
        "name":"Faq",
        "settings":[
          {
            "type":"text",
            "id":"faq_qus",
            "label":"Faq heading"
          },
          {
            "type":"textarea",
            "id":"faq_ans",
            "label":"faq content"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}

.faq-ans{
   text-transform: none;
}
  
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
