<div class="planet-people-product-way uk-visible@s">

        <div class="uk-child-width-1-2@m uk-padding-remove uk-grid-collapse" uk-grid >

<!--              <div class="  uk-child-width-1-1@m uk-grid-collapse" >
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="2">
                       <a href="#product">    <img style="border:1px solid gray ;" src="{{ 'product-new.png' | asset_url }}" alt=""></a>
                        <div class="uk-transition-scale-up uk-position-cover"
                            style="background-color:rgba(0, 0, 0, 0.468) ; ;">
                        <div class="uk-grid uk-flex uk-flex-center uk-position-center uk-grid-collapse"  style="">
                              <div  class="uk-width-1-2 uk-padding-small">
                                
                             <a href="#materials" class="sus-link">   <h3  style="color:white;">Material</h3></a>
                                 <a href="#trims-and-accessories" class="sus-link">   <h3  style="color:white;">Trims and Accessories</h3></a>
                            <a href="#supplier-certification" class="sus-link">    <h3  style="color:white;">Supplier Certifications</h3></a>
                            
                              </div>
                              <div class="uk-width-1-2 uk-padding-small">
                                 <a href="#traceability" class="sus-link">  <h3  style="color:white;">Traceability</h3></a>
                                
                            <a href="#in-house-production" class="sus-link">    <h3  style="color:white;">In-house<br>Production</h3></a>
                             <a href="#packaging" class="sus-link">  <h3  style="color:white;">Packaging</h3></a>
                              </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div> -->





            <div class="  uk-child-width-1-1@m uk-grid-collapse" >
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="2">
                       <a href="#product">    <img style="border:1px solid gray ;" src="{{ 'product-new.png' | asset_url }}" alt=""></a>
                        <div class="uk-transition-scale-up uk-position-cover"
                            style="background-color:rgba(0, 0, 0, 0.468) ; ;">
                        <div class="uk-position-center uk-flex uk-flex-center uk-flex-wrap" style="grid-gap:20px;">
                          <div>
                            <a href="#materials" class="sus-link">   <h3  style="color:white;">Material</h3></a>
                                <a href="#trims-and-accessories" class="sus-link">   <h3  style="color:white;">Trims and<br> Accessories</h3></a>
                                  <a href="#supplier-certification" class="sus-link">    <h3  style="color:white;">Supplier<br> Certifications</h3></a>
                          </div>
                          <div>
                              <a href="#traceablity" class="sus-link">  <h3  style="color:white;">Traceability</h3></a>
                  <a href="#in-house-production" class="sus-link">    <h3  style="color:white;">In-house<br>Production</h3></a>
                               <a href="#packaging" class="sus-link">  <h3  style="color:white;">Packaging</h3></a>
                          </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

            
            <div class="uk-child-width-1-1@m .uk-margin-right" style="">
                <div class="uk-text-center ">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="2">
                       <a href="#people">    <img style="border:1px solid gray ;" src="{{ 'people-new.png' | asset_url }}" alt=""></a>
                        <div class="uk-transition-scale-up uk-position-cover"
                            style="background-color:rgba(0, 0, 0, 0.468) ; ;">
                            <div class="uk-position-center ">
                             <a href="#happy-work" class="sus-link">  <h3  style="color:white;">Ask price wages  </h2></a>
                             <a href="#soexrangde" class="sus-link">  <h3  style="color:white;">SoE X RangDe   </h2></a>
                              
                           
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>


<!-- uk-child-width-1-2@m uk-grid-collapse -->
    <div class="uk-child-width-1-2@m uk-padding-remove uk-grid-collapse" uk-grid  >

          <div class="uk-child-width-1-1@m .uk-margin-right" style="">
                <div class="uk-text-center">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
                         <a href="#planet">  <img style="border:1px solid gray ;" src="{{ 'planet-new.png' | asset_url }}"  alt="" style="width:100%; height:auto;"></a>
                        <div class="uk-transition-scale-up uk-position-cover"
                            style="background-color:rgba(0, 0, 0, 0.468) ; ;">
                            <div class="uk-position-center ">
                           <a href="#measure" class="sus-link">    <h3  style="color:white;">Measure</h3></a>
                            <a href="#reduce" class="sus-link">   <h3 style="color:white;">Reduce</h3></a>
                            <a href="#offsett" class="sus-link">   <h3 style="color:white;">Offset</h3></a>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
      
            <div class="  uk-child-width-1-1@m ">
                <div class="uk-text-center  ">
                    <div class="uk-inline-clip uk-transition-toggle" tabindex="2">
                       <a href="#path">    <img style="border:1px solid gray ;" src="{{ 'path-new.png' | asset_url }}" alt=""></a>
                        <div class="uk-transition-scale-up uk-position-cover"
                            style="background-color:rgba(0, 0, 0, 0.468) ; ;">
                            <div class="uk-position-center ">
                         <a href="#a-step-forward" class="sus-link">      <h3  style="color:white;">Regenerative cotton</h3></a>
                         <a href="#a-step-forward" class="sus-link">      <h3  style="color:white;">Zero waste production</h3></a>
                         <a href="#a-step-forward" class="sus-link">      <h3  style="color:white;">Zero energy, Zero dye</h3></a>
                         <a href="#a-step-forward" class="sus-link">      <h3  style="color:white;">Zero virgin polyester</h3></a>
                           
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>

        </div>
 </div>


  <!--           mobile -->
           <hr class="uk-margin-remove"> <div class="uk-hidden@s uk-margin-bottom">
        <div class="makeItemAlignToCorner">
       <a href="#product">        <img  src="{{ 'product-mob.png' | asset_url }}" alt=""  width="100%"></a><hr>
      <a href="#people">         <img src="{{ 'people-nob.png' | asset_url }}" alt="" width="100%" ></a><hr>
     <a href="#planet">          <img src="{{ 'planet-mob.png' | asset_url }}" alt="" width="100%"></a><hr>
      <a href="#path">         <img src="{{ 'path-mob.png' | asset_url }}" alt="" width="100%"></a><hr>
        </div>
      </div>
<!--           mobile end -->

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}