  
  {% if section.settings.enable_checkbox %}
  <section class="uk-section uk-position-relative uk-visible@m" style="">
    <div class="uk-position-top-center" style="top: -78px; width: 480px">
      <img src="{{ 'bookImage.svg' | asset_url }}" alt="" loading="lazy">
    </div>
    <div class="uk-container" style="z-index:1;">
      <div class="uk-flex uk-flex-between">
        <h2 class="uk-margin-remove-top uk-margin-medium-bottom" style="z-index:1;">Stories/Editorial</h2>
        <p style="text-decoration: underline; z-index:1;">View all</p>
      </div>
      <div class="uk-grid-small uk-child-width-1-3@m" uk-grid>
        <div>
          <a class="uk-link-reset" href="https://shadesofearth.co/blogs/news/how-sustainable-fashion-can-help-us-move-beyond-fast-fashion"  >
            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
              <div class="uk-cover-container" style="height: 268px">
                <img src="{{ 'blog03.webp' | asset_url }}" uk-cover loading="lazy">
              </div>
              <div style="padding: 14px 24px">
                <h4 class="uk-margin-small-top mainFont uk-margin-remove-bottom">How Sustainable Fashion Can Help Us Move Beyond Fast Fashion</h4>
                <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                <p class="uk-margin-remove" style="font-size: 14px !important">
                The fashion industry has long been dominated by fast fashion, a model characterized by ....
                </p>

            <a href="https://shadesofearth.co/blogs/news/how-sustainable-fashion-can-help-us-move-beyond-fast-fashion"  style="color:#000000;">    <p class="uk-margin-remove-bottom" style="font-size: 18px !important">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a>
</div>
             
            </div>
          </a>
        </div>
        <div>
          <a class="uk-link-reset" href="https://shadesofearth.co/blogs/news/understanding-organic-cotton-its-advantages-and-benefits">
            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
              <div class="uk-cover-container" style="height: 268px">
                <img src="{{ 'blog02.webp' | asset_url }}" uk-cover loading="lazy">
              </div>
              <div style="padding: 14px 24px">
                <h4 class="uk-margin-small-top mainFont uk-margin-remove-bottom">Understanding Organic Cotton: Its Advantages and Benefits</h4>
                <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                <p class="uk-margin-remove" style="font-size: 14px !important">
               In recent years, there has been a growing interest in sustainable and eco-friendly practices across..
                </p>

              <a href="https://shadesofearth.co/blogs/news/understanding-organic-cotton-its-advantages-and-benefits"  style="color:#000000;"> <p class="uk-margin-remove-bottom" style="font-size: 18px !important">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a> 
              </div>
            </div>
          </a>
        </div>
        <div>
   <a class="uk-link-reset" href="https://shadesofearth.co/blogs/news/why-choose-ethical-and-sustainable-fashion">
            <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden">
              <div class="uk-cover-container" style="height: 268px">
                <img src="{{ 'blog01.webp' | asset_url }}" uk-cover loading="lazy">
              </div>
              <div style="padding: 14px 24px">
                <h4 class="uk-margin-small-top mainFont uk-margin-remove-bottom">Why Choose Ethical Fashion for a Meaningful Positive Impact?</h4>
                <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                <p class="uk-margin-remove" style="font-size: 14px !important">
                 In recent years, there has been a significant shift in consumer awareness regarding the environmental...
                </p>

          <a href="https://shadesofearth.co/blogs/news/why-choose-ethical-and-sustainable-fashion"  style="color:#000000;">      <p class="uk-margin-remove-bottom" style="font-size: 18px !important color:blue;">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a>
              </div>
            </div>
    </a>
        </div>
      </div>
    </div>
  </section>


<!--  -->
<div class="uk-section uk-hidden@m">

  <div class="uk-container"> <h2 class="uk-margin-remove-top" style="margin-bottom:20px; z-index:1;">Stories/Editorial</h2> </div>
<!--   style="margin-bottom:25px" -->
  <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider>

    <ul class="uk-slider-items uk-grid" style="margin-bottom:25px; margin-left:0px;">
        <li class="uk-width-4-5" style="padding-left: 20px;">
            <div>
              <a class="uk-link-reset" href="#">
                <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden" >
                  <div class="uk-cover-container" style="height: 250px">
                    <img src="{{ 'blog03.webp' | asset_url }}" uk-cover loading="lazy">
                  </div>
                  <div style="padding:14px 24px;">
                    <h3 class="mainFont uk-margin-remove-bottom" style="color:black; font-weight:500 ; font-size:24px;">How Sustainable Fashion Can Help Us Move Beyond Fast Fashion</h3>
                    <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                    <p class="uk-margin-remove" style="font-size: 14px !important">
              The fashion industry has long been dominated by fast fashion, a model characterized by ....
                    </p>
            
                   <a href="https://shadesofearth.co/blogs/news/how-sustainable-fashion-can-help-us-move-beyond-fast-fashion" style="color:#000000;">    <p class="uk-margin-remove-bottom" style="font-size: 18px !important">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a>
                  </div>
                </div>
                </a>
            </div>
        </li>
        <li class="uk-width-4-5" style="padding-left: 20px;">
            <div>
              <a class="uk-link-reset" href="#">
                <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden" >
                  <div class="uk-cover-container" style="height: 250px">
                    <img src="{{ 'blog02.webp' | asset_url }}" uk-cover loading="lazy">
                  </div>
                  <div style="padding:14px 24px;">
                    <h3 class="mainFont uk-margin-remove-bottom" style="color:black; font-weight:500 ; font-size:24px;">Understanding Organic Cotton: Its Advantages and Benefits</h3>
                    <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                    <p class="uk-margin-remove" style="font-size: 14px !important">
                    In recent years, there has been a growing interest in sustainable and eco-friendly practices across..
                    </p>
            
                     <a href="https://shadesofearth.co/blogs/news/what-is-organic-cotton-why-is-it-better" style="color:#000000;"> <p class="uk-margin-remove-bottom" style="font-size: 18px !important">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a> 
                  </div>
                </div>
                </a>
            </div>
        </li>
        <li class="uk-width-4-5" style="padding-left: 20px;">
            <div>
              <a class="uk-link-reset" href="#">
                <div class="uk-border-rounded uk-card uk-card-default uk-overflow-hidden" >
                  <div class="uk-cover-container" style="height: 250px">
                    <img src="{{ 'blog01.webp
                    ' | asset_url }}" uk-cover loading="lazy">
                  </div>
                  <div style="padding:14px 24px;">
                    <h3 class="mainFont uk-margin-remove-bottom" style="color:black; font-weight:500 ; font-size:24px;">Why Embrace Sustainable Fashion for a Meaningful Positive Impact?</h3>
                    <p style="font-size: 12px !important; margin: 10px 0">06 Jun 2023</p>
                    <p class="uk-margin-remove" style="font-size: 14px !important">
                  In recent years, there has been a significant shift in consumer awareness regarding ...
                    </p>
            
                  
          <a  href="https://shadesofearth.co/blogs/news/why-choose-ethical-and-sustainable-fashion" style="color:#000000;">      <p class="uk-margin-remove-bottom" style="font-size: 18px !important color:blue;">
                  Read more

                  <img src="{{ 'rigthArrGreen.svg' | asset_url }}" loading="lazy">
                </p></a>
                  </div>
                </div>
                </a>
            </div>
        </li>
       
       
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
  

</div>



{% endif %}

{% schema %}
{
  "name": "Editorial",
  "settings": [
    {
    "type":"checkbox",
    "id":"enable_checkbox",
    "label":"Enable section"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
