
<section id="trims-and-accessories">
  <div class="trims" style="">
<!--     <h1 class="uk-small uk-text-center"></h1> -->
   
           <h1 class=" uk-padding-small  uk-text-center uk-margin-large-top uk-hidden@m  " style="">{{ section.settings['head1'] }}</h1>
      <div class="uk-child-width-expand@m" uk-grid style="margin:0;">
        <div  class="   uk-padding-remove uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.1)),url({{ section.settings['trims'] | img_url : 'master' }}) ; height:523px;border-radius:4px; ">
   <h2 class="trims-para uk-text-center " style=" width:248px; color:white;">{{ section.settings['content-image'] }}</h2>
        </div>
        <div class=" uk-grid-item-match uk-padding-remove">
            <div  class=" uk-flex-middle" style="margin:auto;">
                 <h1 style="" class="uk-flex uk-flex-center uk-padding-small uk-text-center uk-flex-middle uk-margin-remove  uk-visible@m">{{ section.settings['head1'] }}</h1>
                <p class=" uk-flex uk-flex-center uk-padding-small uk-padding-remove-top uk-padding-remove-bottom  uk-text-center uk-flex-middle  uk-margin-remove " style="margin-top:0px;  font-size:18px;">{{ section.settings['content1'] }}</p>
            </div>
       </div>
      </div>
</div>
</section>

  

<section id="supplier-certification">
<div class="supplier-certification" style="margin-top:0px;">
    <h1 style="" class="uk-padding-small uk-margin-large-top uk-hidden@m uk-text-center ">{{ section.settings['head2'] }}</h1>
   <div class="uk-child-width-expand@m" uk-grid style="margin:auto;">
     <div class="sust-sup uk-grid-item-match uk-padding-remove-left" >
            <div  class=" uk-padding-remove-top" style="margin:auto;">
                 
               <ul class="uk-margin-remove  uk-padding-small uk-padding-remove-top" type="disc" style="">
                    <h1 style="" class="uk-padding-large uk-padding-remove-bottom  uk-text-center uk-margin-remove uk-visible@m ">{{ section.settings['head2'] }}</h1>
                 <p class=" uk-flex uk-flex-center  uk-padding-small uk-margin-remove uk-text-center" style="font-size:18px;">{{ section.settings['content2'] }}</p>
           </ul>

<!--              ...............  -->
              <div class="uk-container uk-flex uk-flex-center">
                <div>
          <div class="" >
            <div class="uk-flex  uk-padding-small "> 
            <img class="" style="width: 48px; height:47px; " loading="lazy"   src="{{ 'ethical.png' | asset_url }}" alt="" />
              <h4 style="color:#8BB73F; padding: 7px 10px; " class="uk-margin-remove ">{{ section.settings['content2-sub1'] }}</h4>
            </div>
          </div>
          <div class="" >
            <div class="uk-flex  uk-padding-small "> 
             <img class="" style="width: 48px; height:47px; " loading="lazy"   src="{{ 'cleaner.png' | asset_url }}" alt="" />
              <h4 style="color:#8BB73F; padding: 10px 10px; " class="uk-margin-remove ">{{ section.settings['content2-sub2'] }}</h4>
            </div>
          </div>
          <div class="" >
            <div class="uk-flex  uk-padding-small " style="margin-bottom:18px; "> 
             <img class="" style="width: 48px; height:47px; " loading="lazy"   src="{{ 'environ.png' | asset_url }}" alt="" />
              <h4 style="color:#8BB73F; padding: 7px 10px; " class="uk-margin-remove ">{{ section.settings['content2-sub3'] }}</h4>
            </div>
          </div>
                </div>
</div>
<!--              ...............  -->
              

          
           
            </div>
        </div>
       <div  class="uk-margin-remove yarn-img  uk-padding-remove uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle " style="background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.567)),url({{ section.settings['supplier'] | img_url : 'master' }}) ; height:523px;border-radius:4px; ">&nbsp;&nbsp;
   <h2 class="trims-para uk-text-center  " style="color:white;width:348px;">{{ section.settings['content2-image'] }}</h2>
        </div>
        
    </div>
</div>
</section>


<!--  <section id="traceability">

   <div class="traceability" style="margin-top:0px;">
     <h1 style="" class="uk-padding-small uk-margin-large-top uk-text-center uk-hidden@m" style="margin:0;">{{ section.settings['head3'] }}</h1>
      <div class="uk-child-width-expand@m" uk-grid style="margin:auto;" >


         <div class=" uk-flex uk-flex-center uk-padding-remove " style="background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(209,212,218,1) 0%, rgba(223,227,225,1) 100%);">
             <img class="farming-gif" src="{{ section.settings['trace'] | img_url : 'master' }}" alt="" width="100%" style=" border-radius:4px;" class="uk-flex uk-flex-center" />
           
             
           </div>

         <div class=" uk-grid-item-match uk-padding-remove">

           
           
            <div  class="uk-grid-collapse" style="margin:auto;  translate:0 -50px;">
                  <h1 style="" class="uk-margin-remove uk-padding-small uk-flex uk-flex-center uk-text-center uk-visible@m">{{ section.settings['head3'] }} </h1>
                <p  class=" uk-padding-large uk-padding-remove-top uk-padding-remove-bottom  uk-text-center uk-flex uk-flex-center " style="margin-top:0px;font-size:18px;">{{ section.settings['content3'] }}</p>
            </div>
       
         
         
          
        </div>
      
       
    </div>

  </div>
</section> -->


<section id="traceablity">
<div class="traceablity">
   <h1 class=" uk-padding-small  uk-text-center uk-hidden@m uk-margin-large-top " style="">{{ section.settings['head5'] }}</h1>
   <div class="uk-child-width-expand@m" uk-grid style="margin:0;">
      <div  class="  uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-padding-remove-left" style="background-image:url({{ 'bg-cir.png' | asset_url }}); width:100%;height:523px; border-radius:4px; ">
    <img class="farming-gif" src="{{ section.settings['trace'] | img_url : 'master' }}" alt="" width="100%" style=" border-radius:4px;" class="uk-flex uk-flex-center" />
        </div>
     <div class=" uk-grid-item-match uk-padding-remove-left" style="margin:auto;">
       
            <div  class="uk-text-center uk-padding-small">
                <h1 style="" class="uk-margin-remove uk-padding-small uk-flex uk-flex-center uk-text-center uk-visible@m">{{ section.settings['head3'] }} </h1>
                <p  class=" uk-padding-large uk-padding-remove-top uk-padding-remove-bottom  uk-text-center uk-flex uk-flex-center " style="margin-top:0px;font-size:18px;">{{ section.settings['content3'] }}</p>
            </div>
        </div>
       
        
    </div>
</div>
  </section>



<section id="in-house-production">
   <div class="manufactuared-in-house" style="">
      <h1 class="  uk-text-center uk-margin-large-top uk-hidden@m  " style="">{{ section.settings['head4'] }}</h1>
      <div class="uk-child-width-expand@m" uk-grid style="margin:0;">
     
        <div class="uk-grid-item-match uk-padding-remove" style="margin:auto;">
            <div  class="uk-text-center">
                <h1 class="  uk-text-center uk-visible@m " style="">{{ section.settings['head4'] }}</h1>
                <h4 class=" uk-padding-small uk-padding-remove-top uk-padding-remove-bottom uk-text-center  " style="">{{ section.settings['content4'] }}</h4>
            </div>

          <div class="  uk-padding-small" style="">

          <div class="" >
            <div class="uk-flex uk-flex-center uk-padding-small " style=""> 
              <div class="uk-flex" style="width:418px;" >
                <img class="" style="width: 48px; height:47px; margin-top:19px; margin-right:10px;" loading="lazy"  src="{{ 'made-to-order.png' | asset_url }}" alt="" />
<!--             <h4 style="color:#8BB73F; font-size:18px;  " class="uk-margin-remove uk-padding-small ">  --> &nbsp;
          <p style="font-size:18px;" >{{ section.settings['content4-sub1'] }}</p>

                </div>
            </div>
          </div>

             <div class="" style="" >
            <div class=" uk-flex uk-flex-center uk-padding-small  " style=""> 
              <div class="uk-flex" style="width:418px;font-size:18px;">
<!--             <h4 style="color:#8BB73F; font-size:18px;  " class="uk-margin-remove uk-padding-small "> --> &nbsp;
              <img class="" style="width: 48px; height:47px;margin-left:-4px; margin-top:0px; margin-right:10px; " loading="lazy"   src="{{ 'trash-to-wash.png' | asset_url }}" alt="" /> {{ section.settings['content4-sub2'] }}

                </div>
            </div>
          </div>
          

            </div>
         
         
          
        </div>
          <div  class="yarn-img   uk-padding-remove uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle" style="background-image: url({{ section.settings['inhouse'] | img_url : 'master' }}) ; height:523px; border-radius:4px;">&nbsp;&nbsp;
   <h2 class="uk-text-center trims-para " style="width:348px; color:white;">{{ section.settings['content4-image'] }}</h2>
        </div>
    </div>
     

  </div>
</section>


  <section id="packaging">
<div class="packaging">
   <h1 class=" uk-padding-small  uk-text-center uk-hidden@m uk-margin-large-top " style="">{{ section.settings['head5'] }}</h1>
   <div class="uk-child-width-expand@m" uk-grid style="margin:0;">
      <div  class="  uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle uk-padding-remove-left" style="background-image: url({{ section.settings['packaging'] | img_url : 'master' }}) ; height:523px; border-radius:4px; ">
   <h2 class="trims-para uk-text-center" style="width:348px; color:white">{{ section.settings['content5-image'] }}</h2>
        </div>
     <div class=" uk-grid-item-match uk-padding-remove-left" style="margin:auto;">
       
            <div  class="uk-text-center uk-padding-small">
                <h1 class=" uk-padding-small  uk-text-center uk-visible@m  " style="">{{ section.settings['head5'] }}</h1>
                <p  class="uk-margin-remove uk-padding-small uk-padding-remove-top uk-padding-remove-bottom  uk-text-center  " style="font-size:18px;">{{ section.settings['content5'] }}</p>
            </div>
        </div>
       
        
    </div>
</div>
  </section>
{% schema %}
  {
    "name": "Section name",
    "settings": [
      {
        "type":"text",
        "id":"head1",
        "label":"head1"
        
      },
      {
        "type":"text",
        "id":"content-image",
        "label":"content on the image"
        
      },
      {
        "type":"text",
        "id":"content1",
        "label":"content1"
        
      },
      {
      "type":"image_picker",
      "id":"trims",
        "label":"image1"
      },
       {
        "type":"text",
        "id":"head2",
        "label":"head2"
        
      },
      {
        "type":"text",
        "id":"content2-image",
        "label":"content on the image"
        
      },
      {
        "type":"text",
        "id":"content2",
        "label":"content2"
        
      },
      {
        "type":"text",
        "id":"content2-sub1",
        "label":"sub 1"
        
      },
      {
        "type":"text",
        "id":"content2-sub2",
        "label":"sub 2"
        
      },
      {
        "type":"text",
        "id":"content2-sub3",
        "label":"sub 3"
        
      },
      {
      "type":"image_picker",
      "id":"supplier",
        "label":"supplier img"
      },
       {
        "type":"text",
        "id":"head3",
        "label":"head3"
        
      },
     
      {
        "type":"text",
        "id":"content3",
        "label":"content3"
        
      },
      
      {
      "type":"image_picker",
      "id":"trace",
        "label":"traceability img"
      },
       {
        "type":"text",
        "id":"head4",
        "label":"head4"
        
      },
      {
        "type":"text",
        "id":"content4-image",
        "label":"content on the image"
        
      },
      {
        "type":"text",
        "id":"content4",
        "label":"content4"
        
      },
      {
        "type":"text",
        "id":"content4-sub1",
        "label":"sub 1"
        
      },
      {
        "type":"text",
        "id":"content4-sub2",
        "label":"sub 2"
        
      },
      {
      "type":"image_picker",
      "id":"inhouse",
        "label":"inhouse img"
      },
       {
        "type":"text",
        "id":"head5",
        "label":"head5"
        
      },
      {
        "type":"text",
        "id":"content5-image",
        "label":"content on the image"
        
      },
      {
        "type":"text",
        "id":"content5",
        "label":"content5"
        
      },
      {
      "type":"image_picker",
      "id":"packaging",
        "label":"package img"
      }
      
    ]
  }
{% endschema %}

{% stylesheet %}
    @media (max-width: 820px) {
.trace-tab-pic{
  display:block !important;;
  
}
    .trace-desk-pic{
      display:none !important;
    }
      .farming-gif{
        margin-top:-48px;
      }
}

  @media (max-width: 500px) {
    .trace-tab-pic{
      display:none !important;
      
    }
    .trace-mob{
      display:block !important;
    }
  }

{% endstylesheet %}

{% javascript %}
{% endjavascript %}