
<div class="uk-slider-container-offset" uk-slider style="">
<div class="uk-position-relative uk-visible-toggle uk-dark uk-padding-small uk-margin-medium-top" tabindex="-1" uk-slider="center: true">

    <ul class="uk-slider-items uk-grid uk-grid-match" uk-height-viewport="offset-top: true; offset-bottom: 30">
        <li class="uk-width-1-1">
             <div class="traceability" style="margin-top:0px;">
          <p class="uk-text-bold uk-margin-remove uk-padding-small uk-padding-remove-bottom uk-hidden@m" style="padding-top:20px;">{{ section.settings['head1']  }}</p>
                  <h4 style="color:black;" class="uk-padding-remove-bottom uk-margin-remove uk-padding-small uk-hidden@m ">{{ section.settings['head2']  }}</h4>
      <div class="uk-child-width-expand@m" uk-grid style="margin:auto; ">

         <div class="farm-desk uk-flex uk-flex-center uk-padding-remove uk-visible@s">
             <img src="{{ 'green02.jpg' | asset_url }}"   class="uk-flex uk-flex-center " loading="lazy"  />
           
             
           </div>

         <div class=" uk-flex uk-flex-center uk-padding-remove uk-hidden@s">
             <img src="{{ 'green02.jpg' | asset_url }}"  loading="lazy"  class="uk-flex uk-flex-center uk-padding-small uk-padding-remove-bottom" />
           
             
           </div>
         <div class=" uk-grid-item-match uk-padding-remove" style="color:black ">

           
           
            <div  class="uk-padding-small uk-padding-remove-top " style="margin:auto;">
              <p class="uk-text-bold uk-margin-remove uk-padding-small uk-padding-remove-bottom uk-visible@m">{{ section.settings['head1']  }}</p>
                  <h1 style="color:black;" class="uk-padding-remove-bottom uk-margin-remove uk-padding-small uk-visible@m ">{{ section.settings['head2']  }}</h1>
       <p style="font-size:18px;" class="uk-padding-small uk-padding-remove-bottom uk-margin-remove">{{ section.settings['content']  }}<span>&nbsp;<a target="_blank" href="https://www.getgreenspark.com/projects/the-plastic-bank-turning-plastic-pollution-into-empowering-income">Learn more</a></span></p>
            </div>
           <div class="icons uk-flex uk-padding-small " style="">
              <img src="{{ section.settings['icon1'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;"    class="icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon2'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;"   class="icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon3'] | img_url:'master' }}"  loading="lazy" style="height:70px;width:70px;margin:0px 10px;" class="icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon4'] | img_url:'master' }}"  loading="lazy" style="height:70px;width:70px;margin:0px 10px;"  class="icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon5'] | img_url:'master' }}"  loading="lazy" style="height:70px;width:70px;margin:0px 10px;" class="icons uk-flex uk-flex-center" />
             
             
           </div>
       
         
         
          
        </div>
      
       
    </div>

  </div>
        </li>
      <li class="uk-width-1-1">
             <div class="traceability" style="margin-top:0px;">
           <p class="uk-text-bold uk-margin-remove uk-padding-small uk-padding-remove-bottom uk-hidden@m" style="padding-top:20px;">{{ section.settings['head01']  }}</p>
                  <h4 style="color:black;" class="uk-padding-remove-bottom uk-margin-remove uk-padding-small uk-hidden@m ">{{ section.settings['head02']  }}</h4>
      <div class="uk-child-width-expand@m" uk-grid style="margin:auto; ">

         <div class="farm-desk uk-flex uk-flex-center uk-padding-remove uk-visible@s">
             <img src="{{ 'green01.jpg' | asset_url }}" loading="lazy"   class="uk-flex uk-flex-center" />
           
             
           </div>

         <div class=" uk-flex uk-flex-center uk-padding-remove uk-hidden@s">
             <img src="{{ 'green01.jpg' | asset_url }}"  loading="lazy"  class="uk-flex uk-flex-center uk-padding-small uk-padding-remove-bottom" />
           
             
           </div>
         <div class=" uk-grid-item-match uk-padding-remove" style="color:black ">

           
           
            <div  class="uk-padding-small uk-padding-remove-top " style="margin:auto;">
              <p class="uk-text-bold uk-margin-remove uk-padding-small uk-padding-remove-bottom">{{ section.settings['head01'] }}</p>
                  <h1 style="color:black;" class="uk-padding-remove-bottom uk-margin-remove uk-padding-small uk-visible@m ">{{ section.settings['head02']  }}</h1>
       <p style="font-size:18px;" class="uk-padding-small uk-padding-remove-bottom uk-margin-remove">{{ section.settings['content01']  }}<span>&nbsp;<a target="_blank" href="https://www.getgreenspark.com/projects/eden-reforestation-projects-fighting-extreme-poverty-through-tree-planting">Learn more</a></span></p>
            </div>
           <div class="icons uk-flex uk-padding-small " style="">
              <img src="{{ section.settings['icon01'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;"    class="icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon02'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;"   class=" icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon03'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;" class=" icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon04'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;"  class=" icons uk-flex uk-flex-center" />
              <img src="{{ section.settings['icon05'] | img_url:'master' }}" loading="lazy"  style="height:70px;width:70px;margin:0px 10px;" class=" icons uk-flex uk-flex-center" />
             
             
           </div>
       
         
         
          
        </div>
      
       
    </div>

  </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>

</div>
     <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": [
          {
        "type":"image_picker",
        "id":"img-desk",
        "label":"carousel image 1"
        
      },
          {
        "type":"image_picker",
        "id":"img-mob",
        "label":"mobile image"
        
      },
      {
        "type":"text",
        "id":"head1",
        "label":"head1"
      },
      {
        "type":"text",
        "id":"head2",
        "label":"head2"
      },
      {
        "type":"text",
        "id":"content",
        "label":"content"
      },
          {
        "type":"image_picker",
        "id":"icon1",
        "label":"icon1"
        
      },
          {
        "type":"image_picker",
        "id":"icon2",
        "label":"icon2"
        
      },
          {
        "type":"image_picker",
        "id":"icon3",
        "label":"icon3"
        
      },
          {
        "type":"image_picker",
        "id":"icon4",
        "label":"icon4"
        
      },
          {
        "type":"image_picker",
        "id":"icon5",
        "label":"icon5"
        
      },
        {
        "type":"image_picker",
        "id":"img01",
        "label":"carousel image 2"
        
      },
        {
        "type":"image_picker",
        "id":"img02",
        "label":"mobile image"
        
      },
      {
        "type":"text",
        "id":"head01",
        "label":"head1"
      },
      {
        "type":"text",
        "id":"head02",
        "label":"head2"
      },
      {
        "type":"text",
        "id":"content01",
        "label":"content"
      },
  
    
      {
        "type":"image_picker",
        "id":"icon01",
        "label":"icon 1"
        
      },
      {
        "type":"image_picker",
        "id":"icon02",
        "label":"icon 2"
        
      },
      {
        "type":"image_picker",
        "id":"icon03",
        "label":"icon 3"
        
      },
      {
        "type":"image_picker",
        "id":"icon04",
        "label":"icon 4"
        
      },
      {
        "type":"image_picker",
        "id":"icon05",
        "label":"icon 5"
        
      }
     
    ]
  }
{% endschema %}

{% stylesheet %}

/*   @media (min-width: 600px) {
.farm-tab{
  display:block !important;;
  
}
    .farm-desk{
      display:none !important;
    }
}
  @media (max-width: 920px) {
.farm-tab{
  display:block !important;;
  
}
    .farm-desk{
      display:none !important;
    }
} */

  @media (max-width: 620px) {
.icons{
 width:50px !important;
 height:50px !important;
  margin:5px !important;
  
}
 


{% endstylesheet %}

{% javascript %}
{% endjavascript %}