<section class="sustainability uk-container" >


 <div class="uk-container"> 
{% section "sustainability-hero-banner" %}
  
{% section "sustainability-we-are-soe" %}





  
{% section "product-people-planet-path" %}





  





 
  


<section id="product">
   <div id="product" class="product-banner uk-visible@s " style="padding-top:22px;">
   <div class="banner-img" style="background-size:contain;">
 <div class=" uk-background-cover uk-background-muted  uk-panel uk-flex  uk-padding-small " style="background-image: url({{ 'product-main.png' | asset_url }}); width:100%; height:700px; background-size:contain;"  >
            <h1 style="padding-top:30px; font-size:56px;   " class="ban-head   uk-position-top-center uk-padding-small">Product</h1>
        </div>
    </div>
  </div>
   <div id="product" class="product-banner uk-hidden@s " style="padding-top:22px;">
   <div class="" style="border:1px groove gray;">

       <img class="" style="width: 100%; "  src="{{ 'Mask-Group-35.png' | asset_url }}" alt=""  />
    </div>
  </div>
   </div>


  {% section "sustainability-material" %}
  {% section "sustainability-fabric-categories" %}











  


<!-- ------------------------    natuaral cellulose -----    -->


  {% section "sustainability-cellulose-tabs" %}

<div class="uk-margin-large-top marginSection"></div>
<!--          -------------------natural cellulose -->

 {% section "sustainability-trims-package" %}




<section id="people">
   <div id="people" class="people-banner" style="padding-top:50px;">
   <div class="banner-img">
 <div class=" uk-background-cover uk-background-muted uk-height-medium uk-panel uk-flex  uk-padding-small uk-visible@s " style="background-image: url({{ 'people-main.svg' | asset_url }}); width:100%; height:700px; background-size:contain;"  >
            <h1 style="padding-top:30px; font-size:56px;   " class="ban-head  uk-position-top-center uk-padding-small">People</h1>
        </div>
     <div class="uk-hidden@s" style="border:1px groove gray;">

      <img style=" border:1px groove gray" class="" style="width: 100%; "  src="{{ 'Mask-Group-36.png' | asset_url }}" alt="" />   
     </div>
       
    </div>
  </div>
</section>



 







   {% section "sustainability-farm-fashion" %}


   {% section "sustainability-soex-rangede" %}



    {% section "sustainability-farm-carousel" %}
<!--      <div class="uk-margin-large-top uk-visible@s"></div> -->
{% section 'blub3-imgs' %}
 {% include 'greenspark-widget' %}

 






  <!-- ----------------courosel ------------------------------->

<!--  {% section "sustainability-support-carousel" %} -->

<!-- --------------------  courosel end ----------------------------------->


  
  <div id="planet" class="planet-banner" style="padding-top:50px;">
   <div class="banner-img">
 <div class=" uk-background-cover uk-background-muted uk-height-medium uk-panel uk-flex  uk-padding-small uk-visible@s " style="background-image: url({{ 'planet-main.svg' | asset_url }}); width:100%; height:700px; background-size:contain;"  >
            <h1 style="padding-top:30px; font-size:56px; " class="  uk-position-top-center uk-padding-small">Planet</h1>
        </div>
     <div class="uk-hidden@s" style="border:1px groove gray;">
<!--       <div class=" uk-background-cover uk-background-muted uk-height-medium uk-panel uk-flex  uk-padding-small uk-hidden@s " style="background-image: url({{ 'Mask-Group-34.png' | asset_url }}); width:100%; height:486px; background-size:contain; border:1px groove gray"  > -->
<!--             <h1 style="padding-top:30px; font-size:55px;   " class="ban-head uk-h4  uk-position-top-center uk-padding-small">People</h1> -->
       <img class="" style="width: 100%; "  src="{{ 'Mask-Group-34.png' | asset_url }}" alt="" /> 
     </div>
    </div>
  </div>
   
        

          
 {% section "sustainability-dirty-laundry" %}
  

  
  

  





 {% section "sustainability-measure-offset" %}

<!-- ----------------courosel ------------------------------->

<!--  {% section "sustainability-power-plant-carousel" %} -->

<div class="uk-margin-large-top"></div>
  {% section 'blub2-imgs' %}
  {% include 'greenspark-widget' %}
 {% section "sustainability-greenspark" %}


  

  

<!-- --------------------  courosel end ----------------------------------->





         
     <div class=" uk-flex uk-flex-center uk-flex-wrap uk-padding-small uk-visible@s"    style="margin-top:50px;">
 <img class="earth-equa" style="width:94%;  "  src="{{ 'earthpos02.png' | asset_url }}" alt="" />

</div>
     <div class=" uk-flex uk-flex-center uk-flex-wrap uk-padding-small uk-hidden@s"    style="margin-top:50px;">
 <img class="earth-equa" style="width:64%;  "  src="{{ 'e001.png' | asset_url }}" alt="" />

</div>



   <div id="path" class="path-banner" style="padding-top:50px;">
   <div class="banner-img">
 <div class=" uk-background-cover uk-background-muted uk-height-medium uk-panel uk-flex uk-flex-center  uk-padding-small uk-visible@s " style="background-image: url({{ 'way-forward-main.png' | asset_url }}); width:100%; height:700px; background-size:contain;"  >
            <h1 style="padding-top:30px; font-size:56px; " class="ban-head path-for   uk-position-top-center uk-padding-small uk-flex uk-flex-center uk-text-center">Path Forward</h1>
        </div>
     <div class="uk-hidden@s" style="border:1px groove gray;">
<!--       <div class=" uk-background-cover uk-background-muted uk-height-medium uk-panel uk-flex  uk-padding-small uk-hidden@s " style="background-image: url({{ 'Mask-Group-37.png' | asset_url }}); width:100%; height:486px; background-size:contain; border:1px groove gray"  > -->
<!--             <h1 style="padding-top:30px; font-size:55px;   " class="ban-head   uk-position-top-center uk-padding-small">People</h1> -->
       <img class="" style="width: 100%; "  src="{{ 'Mask-Group-37.png' | asset_url }}" alt="" style="border:1px groove gray;" />   
     </div>
    </div>
  </div>
   

    
{% section "sustainability-collection-div" %}

    
  

   </div>


</section>

