<div class="uk-container">
  <h2 class="uk-heading-medium uk-padding uk-padding-remove-bottom uk-padding-remove-left" style="">Size guide</h2>
  <div class="uk-container"></div>
  <div class="uk-flex uk-padding-small uk-padding-remove-left button-fc-menu" uk-margin style="" uk-switcher="animation: uk-animation-fade; toggle: > *">
    <a class="button-sizechart uk-button" > All &rsaquo;</a>
    <a class="button-sizechart uk-button" > Women &rsaquo;</a>
    <a class="button-sizechart uk-button" > Men &rsaquo;</a>
  </div>
  <div class="uk-switcher">
    <div>
      <img src="{{ 'size_chart_4.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_3.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_2.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_1.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_0.png' | asset_url }}" style="margin-top:50px"></img>
    </div>
    <div>
      <img src="{{ 'size_chart_4.png' | asset_url }}"style="margin-top:50px"></img>
    </div>
    <div>
      <img src="{{ 'size_chart_3.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_2.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_1.png' | asset_url }}" style="margin-top:50px"></img>
      <img src="{{ 'size_chart_0.png' | asset_url }}" style="margin-top:50px"></img>
    </div>
  </div>
  </div>
  <div style="margin-top:50px"></div>

